extends templates/main

block title 
    title Home 
    script(src="https://unpkg.com/@tailwindcss/browser@4" defer)

block content 
    main 
        div(class="bg-neutral-800 text-white p-8 rounded-xl w-full max-w-md shadow-lg")
            div(class="flex justify-center mb-6")
                img(src="/movies/img/Kino - koncept.png" alt="KINO Logo" class="h-18")

            h2(class="text-2xl font-bold mb-2") Bli medlem
            p(class="text-sm text-neutral-400 mb-6") Fyll i din e-post och lösenord, klicka sedan på skicka verifieringskod.

            form(action="" class="signup-form")
                label(for="su-fname" class="block font-semibold mb-1") Förnamn
                input(type="text" id="su-fname" class="w-full p-3 bg-neutral-900 rounded-lg text-white mb-4 outline-none focus:ring-2 focus:ring-red-500 border-2 border-s-gray-300")
                p#fname-error(class="hidden") Ange förnamn

                label(for="su-lname" class="block font-semibold mb-1") Efternamn
                input(type="text" id="su-lname" class="w-full p-3 bg-neutral-900 rounded-lg text-white mb-4 outline-none focus:ring-2 focus:ring-red-500")
                p#lname-error(class="hidden") Ange efternamn

                label(for="su-username" class="block font-semibold mb-1") Användarnamn
                input(type="text" id="su-username" class="w-full p-3 bg-neutral-900 rounded-lg text-white mb-4 outline-none focus:ring-2 focus:ring-red-500")
                p#username-error(class="hidden") Ange användarnamn

                label(for="su-mail" class="block font-semibold mb-1") E-postadress
                input(type="mail" id="su-mail" class="w-full p-3 bg-neutral-900 rounded-lg text-white mb-4 outline-none focus:ring-2 focus:ring-red-500")
                p#mail-error(class="hidden") Ange korrekt E-postadress

                label(for="su-password" class="block font-semibold mb-1") Lösenord
                input(type="password" id="su-password" class="w-full p-3 bg-neutral-900 rounded-lg text-white mb-4 outline-none focus:ring-2 focus:ring-red-500")
                #password-strength(class="flex w-auto h-1")
                    #not-strong(class="w-1/4 ml-1 mr-1 bg-gray-400")
                    #kinda-strong(class="w-1/4 ml-1 mr-1 bg-gray-400")
                    #strong(class="w-1/4 ml-1 mr-1 bg-gray-400")
                    #very-strong(class="w-1/4 ml-1 mr-1 bg-gray-400")
                b(class="text-xs text-gray-400 block justify-self-end m-2")#strength-message Inget lösenord
                p#password-error(class="hidden") Ange ett lösenord

                label(for="su-c-password" class="block font-semibold mb-1") Bekräfta lösenord
                input(type="password" id="su-c-password" class="w-full p-3 bg-neutral-900 rounded-lg text-white mb-4 outline-none focus:ring-2 focus:ring-red-500")
                p#c-password-error(class="hidden") Lösenorden matchar ej

                button(type="submit" class="w-full bg-red-500 text-white p-3 rounded-3xl text-lg font-semibold hover:bg-red-600 transition") Skapa konto

        .info 
            .info1 
                h1.cinema-title Kino Sandviken
                p.cinema-open Öppet idag 17:00 - 21:00
                .info-modal
                    p.modal-title Vanliga frågor
                    ul.info-modal-list  
                        li.modal-item-0 
                            img(class="modal-open" src="./img/QnAOpen.png" alt="Plus icon with circle around")
                            p.modal-question Kort om biografen 
                            p.modal-answer(style="display: none;"). 
                                Kino Sandviken är en charmig och modern biograf 
                                som ligger i hjärtat av den fantastiska staden Sandviken. 
                                Biografen erbjuder en unik filmupplevelse med sina tre toppmoderna salonger, 
                                varav en är utrustad med en exklusiv IMAX-duk för enastående 
                                bild- och ljudkvalitet. Med ett brett urval av filmer - från 
                                stora blockbusters till indiefilmer och klassiker - har Kino Sandviken 
                                något för alla smaker. Det är en självklar mötesplats för filmälskare 
                                i alla åldrar!
                        li.modal-item-1 
                            img(class="modal-open" src="./img/QnAOpen.png" alt="Plus icon with circle around")
                            p.modal-question Tillgänglighet 
                            p.modal-answer(style="display: none;"). 
                                Kino Sandviken är tillgänglig för alla! Våra lokaler har 
                                rullstolsanpassade ingångar, ramper och sittplatser i varje salong.
                                För gäster med nedsatt hörsel erbjuder vi hörslingor och 
                                textade visningar, och för de med nedsatt syn finns syntolkning 
                                tillgänglig vid utvalda filmer. Vår personal finns alltid på 
                                plats för att hjälpa till och göra besöket så smidigt som möjligt.
                        li.modal-item-2
                            img(class="modal-open" src="./img/QnAOpen.png" alt="Plus icon with circle around")
                            p.modal-question Öppettider 
                            .modal-answer(style="display: none;") Biografen stränger 15 minuter efter föreställningen
                                each date in data.open 
                                    .open-times
                                        p.open-times-day= date.dag
                                        p.open-times-date= date.datum
                                        p.open-times-time= date.tid
            .info2
                .open-div 
                    h3.desktop-open-title Öppettider
                    p.desktop-open-paragraph Biografen stänger 15 minuter efter föreställningen
                        each date in data.open 
                            .open-times
                                p.open-times-day= date.dag
                                p.open-times-date= date.datum
                                p.open-times-time= date.tid
                img(src="./img/kinoImg.png" alt="Image with kino logo" class="kino-img")
        h3.movie-headline Våra populäraste filmer
        .movie-container

        .screenings-container
            h2 Kommande visningar
            ul.screenings-list

        script(type="module" src="../static/fetchTop5Movies.js")
        script(type="module" src="../static/screeningsFetcher.js")
